<p>server component</p>
<p 
  [ngStyle]="{backgroundColor: getColor()}"
  [ngClass]="{offline : status === 'offline'}">
  Server ID {{id}} is {{showStatus()}}</p>

<p [ngStyle]="{backgroundColor: getColor()}"
  [ngClass]="{offline : status === 'offline'}">
  Server ID {{id}} is {{showStatus()}}</p>

<input 
  type="text" 
  class="form-control" 
  [(ngModel)]="serverName" />

  <button 
  [disabled]="!enableButton" 
  (click)="onCreateServer()">Create new server name</button>
<p *ngIf="isClicked; else noServer">{{newServerStt}}</p>
<ng-template #noServer>
    <p>No server created</p>
</ng-template>
<!--assignment --> 
<input 
  type="text"
  [(ngModel)]="userName"
  placeholder="userName"
/>
<p>User name is: {{userName}}</p>
<button
  [disabled]="userName === ''" 
  (click)="reset()">RESET</button>
